<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Free Translate Bot</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/about"><span class="glyphicon glyphicon-question-sign"></span> How It Works</a></li>
                <li><a href="/demo"><span class="glyphicon glyphicon-play-circle"></span> Demo</a></li>
                <li><a href="/document/v1" target="_blank"><span class="glyphicon glyphicon-book"></span> Document</a></li>
                <li><a href="/support_lang"><span class="glyphicon glyphicon-book"></span> Support Language</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-right">
                    <a href="https://www.linkedin.com/in/easter1021"><span class="glyphicon glyphicon-user"></span> Easter1021&nbsp;&lt;mufasa.hsu@gmail.com&gt;</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
